@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu
    <div class="content">
        <h1>Menu</h1>
        <h2>Combos</h2>
        @foreach (IMenuItem combo in Model.Combos)
        {
            CretaceousCombo item = combo as CretaceousCombo;
            <div class="menu-item">
                <p>@item.ToString()</p>

                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <td>Small</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                    @{item.Size = Size.Medium;}
                    <tr>
                        <td>Medium</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                    @{item.Size = Size.Large;}
                    <tr>
                        <td>Large</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                </table>

                <p>Ingredients: </p>
                @foreach (string ingredients in item.Ingredients)
                {
                    <ul>@ingredients</ul>
                }
            </div>
        }
        <h2>Entrees</h2>
        @foreach (IMenuItem entree in Model.Entrees)
        {
            <div class="menu-item">
                <h4>@entree.ToString()</h4>
                <p>$ @entree.Price</p>
                <p>Calories @entree.Calories</p>
                <p>Ingredients: </p>
                @foreach (string ingredients in entree.Ingredients)
                {
                    <ul>@ingredients</ul>
                }
            </div>
        }
        <h2>Sides</h2>
        @foreach (IMenuItem side in Model.Sides)
        {
            Side item = side as Side;
            <div class="menu-item">
                <p>@item.ToString()</p>

                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <td>Small</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                    @{item.Size = Size.Medium;}
                    <tr>
                        <td>Medium</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                    @{item.Size = Size.Large;}
                    <tr>
                        <td>Large</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                </table>

                <p>Ingredients: </p>
                @foreach (string ingredients in item.Ingredients)
                {
                    <ul>@ingredients</ul>
                }
            </div>
        }
        <h2>Drinks</h2>
        @foreach (IMenuItem drink in Model.Drinks)
        {
            Drink item = drink as Drink;
            <div class="menu-item">
                <p>@item.ToString()</p>

                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <td>Small</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                    @{item.Size = Size.Medium;}
                    <tr>
                        <td>Medium</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                    @{item.Size = Size.Large;}
                    <tr>
                        <td>Large</td>
                        <td>@item.Price</td>
                        <td>@item.Calories</td>
                    </tr>
                </table>

                <p>Ingredients: </p>
                @foreach (string ingredients in item.Ingredients)
                {
                    <ul>@ingredients</ul>
                }
            </div>
        }

        <form method="post">

            <h4>Search and Filter</h4>
            <input type="text" id="search" name="search" value="@Model.Search" />

            <input type="submit" id="searchAndFilter" value="Search and Filter" />
            <h4>Menu Category</h4>
            <div class="menu-category">
                <label>
                    <input type="checkbox" value="Combo" name="menuCategory" checked="@Model.Filter.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" value="Entree" name="menuCategory" checked="@Model.Filter.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" value="Side" name="menuCategory" checked="@Model.Filter.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input type="checkbox" value="Drink" name="menuCategory" checked="@Model.Filter.Contains("Drink")" />
                    Drink
                </label>

            </div>

            <h4>Prices</h4>
            <div class="number">
                <label>
                    Minimum: <input type="number" id="minimum-price" name="minimumPrice" value="@Model.MinimumPrice" />
                </label>
                <label>
                    Maximum: <input type="number" id="maximum-price" name="maximumPrice" value="@Model.MaximumPrice" />
                </label>

            </div>

            <div class="exclude-ingredient">
                <h4>Exclude Ingredients:</h4>
                @foreach (string s in Model.PossibleIngredientsHashSet)
                {
                    <li>
                        <input type="checkbox" name="Ingredients" value="@s.ToString()" checked="@Model.Ingredients.Contains(s.ToString())" />
                        @s
                    </li>
                }
            </div>

        </form>
    </div>